allure-pytest==2.13.2
allure-python-commons==2.13.2
Appium-Python-Client==2.0.0
attrs==23.1.0
blinker==1.6.2
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
cryptography==41.0.7
et-xmlfile==1.1.0
Flask==2.3.3
h11==0.14.0
idna==3.6
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==23.2
parameterized==0.9.0
pluggy==1.3.0
py==1.11.0
pycparser==2.21
PyMySQL==1.1.0
pyOpenSSL==23.3.0
PySocks==1.7.1
pytest==8.0.0rc1
pytest-html==4.1.1
pytest-metadata==3.0.0
pytest-ordering==0.6
pytest-rerunfailures==13.0
pytest-sugar==1.0.0
pytest-testreport==1.1.6
requests==2.31.0
selenium==4.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
termcolor==2.4.0
toml==0.10.2
trio==0.23.1
trio-websocket==0.11.1
urllib3==2.2.1
urllib3-secure-extra==0.1.0
Werkzeug==2.3.7
wsproto==1.2.0
